<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head> 
    <body>
        Sprawdź swoje hasło: <?= $this->form; ?>
        Status: <p id="status"></p>

    </body>

    <script>
        $(document).ready(function () {
            $('body').on('click', '#generatePassword', function () {
                $.ajax({
                    type: "POST",
                    url: '/password/generate',
                    data: $("form").serialize(),
                    dataType: "json",
                }).done(function (resp) {
                    $('#password').val(resp.plainPassword);
                });
            });
            $('body').on('click', '#validatePassword', function () {
                $.ajax({
                    type: "POST",
                    url: '/password/validate',
                    data: $("form").serialize(),
                    dataType: "json",
                }).done(function (resp) {
                    if (resp.success) {
                        $('#status').html('OK');
                        $('#status').css('color', 'green');
                    } else {
                        $('#status').css('color', 'red');
                        var errorsMsg = '';
                        for (var element in resp.messages) {
                            for (var errorKey in resp.messages[element]) {
                                errorsMsg += element + ': ' + resp.messages[element][errorKey] + '<br/>';
                            }
                        }
                        $('#status').html(errorsMsg);

                    }
                });
            });
        });
    </script>

</html>



